{
  "presets": ["stage-0", "es2015"],
  "plugins": [[
      "module-resolver", {
        "root": ["./"],
        "alias": {
          "app": "./src",
          "models": "./src/models",
          "utils": "./src/utils",
          "config": "./config.js"
        }
      }
    ],
    "autobind-class-methods",
    "transform-class-properties"
  ],
  "ignore": []
}